.holder {
    justify-content: center;
    text-align: center;
    color: #fff;
    background-color: #F00000;
    width: 33.6rem;
    height: 3.7rem;
    display: flex;
    gap: 2rem;
}

.para-right {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 1rem;
    line-height: 99.19%;
    /* or 10px */
    letter-spacing: 0.01em;
}